# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
apvenv/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# PyTorch / large files
*.pt
*.pth

# Node / frontend
node_modules/
dist/
build/
